
*{
  margin: 0;
  padding: 0;


}
body{
  background-color:  #F2F2F2;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 600;
}

ul, .habillitycurriculo{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
  
li{
  
    margin-right:25%;
}

.backgroundimage{
  background-image: url('../../public/images/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
  color: #00cc00;
}
.backgroundimage2{
  background-image: url('../../public/images/imagemfund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
}
.paragrafo{
  text-align: justify;
  font-size: 20px;
  color: #F2F2F2;
}
.habilidades{
  font-size: 2em;
  margin-top:8px;
  margin-bottom: 6px;
}
.cardProjetos{
  background-color: #d9d9d9;
  color:black;
  width: 17rem;
  height: auto;
  padding:1rem;
  border-radius:1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardProjetos{
  margin-right: 4%;
  margin-top:2%;

}
.link{
  color: #fff;
  text-decoration: none;
}
.telapequena{
  display: block;
}
.cad-title{
  font-size: 20px;
  color: white;
}

/*pílula de conhecimento, caixa misteriosa
5% contribuição das vendas
*/