
*{
  margin: 0;
  padding: 0;
}
body{
  background-color:  #F2F2F2;
}

ul, .habillitycurriculo{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 500;

  
  }
  
li{
  
    margin-right:25%;
}

.backgroundimage{
  background-image: url('../../public/images/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
  color: #FF9900;
}
.backgroundimage2{
  background-image: url('../../public/images/imagemfund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
}
.paragrafo{
  text-align: justify;
}
.habilidades{
  font-size: 30px;
  margin-top:8px;
  margin-bottom: 6px;
}
.cardProjetos{
  background-color: #d9d9d9;
  color:black;
  width: 18rem;
  height: 17rem;
  padding:1rem;
  border-radius:1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardProjetos{
  margin-right: 4%;
  margin-top:2%;

}
.link{
  color: #FF9900;
  text-decoration: none;
}
