.h1{
    font-size: 11rem;
    font-weight: 400;
}
.logolg{
    width: 37rem;

}
.MinhaFoto{
    width: 26em;
    border-radius: 20em;
    margin-left: 6em;
}

.menu-nav {
    list-style: none;
    position: absolute;
    background: #090101;
    left: 0;
    width: 0;
    height: 90rem;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    font-size: 18px;
    box-shadow: 30px 30px 45px 60px rgba(151, 149, 154, 0.08), 0 4px 6px -2px rgba(242, 242, 242, 0.16);
    transform: translateX(-100px);
    transition: transform ease-in-out 0.2s;
    /* transition: width ease 0.2s; */
}
.menu-nav.show-menu {
    width: 100%;
    transform: translateX(0px);
    margin-top: 2em;
    padding-top: 2em;
    text-align: left;
}
.menu-nav li a, .menu-nav li span {
    display: block;
    padding: 1rem;
}
.buttonCell{
    width: 100%;
    margin-bottom: 1em;
    background: none;
}
.menu{
    background: none;
}
.paragrafolg{
    font-size: 1em;
}
.paragrafoCurriculoLg{
    font-size: 18px;
    font-weight: 400;
}
.TituloCurriculoLg{
    font-size: 70px;
}
@media screen and (max-width: 495px) {
    body {
      overflow-x: none;
    }
    .backgroundimage{
      width: 100%;
      z-index: 60;
    }
    
    .titulo{
        font-size: 6em;
        font-weight: 400;
    }
    .tituloCurriculo{
        font-size: 2em;
        font-weight: 400;
    }
    .paragrafoSm{
        font-size: 10px;

    }
    li{       
        margin-left: 250%;       
    }
    .habilidadescell{
        font-size: 24px;
    }
    .cardProjetoSm{
        width: 30em;
        margin-bottom: 2em;
    }
    .linksm{
        color: #f1f1f1;
        text-decoration: none;
        font-weight: 100;
        font-size: 2em;
        
    }
    .removerSm{
        display: none;
    }



}
@media screen and (max-width: 1024px) {
    .logoIpadMini{
        width: 24em;
    }
    .tituloMd{
        font-size: 6em;
    }
    .paragrafomd{
        font-size: 19px;
    }
    .titlecardProject{
        font-size: 25px;
        font-weight: 300;
        color: red;

    }
    .tituloCucrriculoMD{
        font-size: 9em;
    }

}